<div>
  <span class="text-primary">◆通常のフォーム</span>
  <%= form_tag(static_pages_csrf_paid_done_path, method: "post") do %>
      <%= label_tag(:name, "お金を振り込んでください") %>
      <%= number_field_tag(:amount) %>
      <%= submit_tag("振り込む") %>
  <% end %>

  <div style="margin-top:50px;">
    <span class="text-danger">※罠用のフォーム（本当は別の罠サイトにある想定）。hidden要素で値が埋め込まれている</span>
    <form id="form1" name="form1" method="post" action="<%= static_pages_csrf_paid_done_path %>">
      <input type="hidden" name="amount" value=10000000>
    </form>
    <p>
      <a href="javascript: document.form1.submit();" style="color: blue;">未経験から第一線で活躍するTechLeadになれた7つの理由</a> を知りたい方はこちら！！
    </p>
  </div>
</div>

<div class="well" style="margin-top: 100px;">
  <h3>説明</h3>
  <p>罠用のフォームとして<br/>
    <code>&lt;form id="form1" name="form1" method="post" action="/static_pages/csrf_paid_done"&gt;</code><br/>
    &nbsp;&nbsp;<code>  &lt;input type="hidden" name="amount" value=10000000&gt;</code><br/>
    <code>&lt;/form&gt;</code><br/>
    というコードが入っています。</p>
</div>
