<div>
  <p class="lead"></p>
  <div class="row">
    <div class="container" style="margin-bottom: 40px;">
      <%= form_tag(static_pages_xss_path, method: "get") do %>
          <%= label_tag(:name, "氏名からユーザを検索してください:") %>
          <%= text_field_tag(:name) %>
          <%= submit_tag("Search") %>
      <% end %>
    </div>
    <div>
      <p class="text-mute">只今の検索条件：<%= @name_condition.html_safe %></p>
    </div>
  </div>

  <table>
    <thead>
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>企業ID</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.corporate_id %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="well" style="margin-top: 100px;">
  <h3>説明</h3>
  <p>Inputに<code>&lt;script&gt;alert(document.cookie)&lt;/script&gt;</code>を入れると攻撃可能です。</p>
  <h3>デバッグ</h3>
  <p>検索条件をそのまま出力</p>
  <code><%= params[:name] %></code>
</div>
